<%- include("header") %> 
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A maiores explicabo soluta odio dicta adipisci veniam accusantium deleniti! Voluptates nam a consequatur quibusdam maiores ducimus numquam vitae laudantium. Dolores, asperiores?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nobis autem dolore molestiae deleniti suscipit, minus dignissimos ipsum placeat vitae aut esse, cumque accusamus optio vero aperiam, cupiditate pariatur veritatis.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam magnam autem nulla excepturi officia temporibus vero vel quidem sunt iusto. Quam nesciunt fugit suscipit exercitationem porro ipsum autem non mollitia.
</p>
<%- include("footer") %>